extends ../base
include ../mixins/video

block body
    video(src="/"+video.path, controls) 
    div
        p=`설명: ${video.description}`
        p= `category: ${video.category}`
        each hashtag in video.hashtags 
            span=hashtag
    if String(user._id) === String(video.publisher._id)
        a(href=`${video.id}/edit`) Edit &rarr;
        br
        a(href=`${video.id}/delete`) Delete &rarr;
        hr
    div 
        small="Created by "
            a(href=`/users/${video.publisher._id}`)=video.publisher.name
        hr
    
