mixin video(item)
    div
        h4=item.title
        ul 
            li #{item.rating}/5
            li #{item.comments} comments
            li Posted #{item.createdAt}
            li #{item.views} views