mixin video(item)
    a(href=`/videos/${item.id}`).mixins-video
        div.mixins-video__thumb
        div.mixins-video__data
            span.mixins-video__title=item.title
            div.mixins-video__meta
                p #{item.publisher.name}
                span 조회수 #{item.meta.views}회 • 
                span #{item.createdAt}