mixin video(item)
    a(href=`/videos/${item.id}`).mixins-video
        div.mixins-video__thumb(style=`background-image:url(${heroku ? item.thumbPath : "/"+item.thumbPath}); background-size:cover; background-position:center`)
        div.mixins-video__data
            span.mixins-video__title=item.title
            div.mixins-video__meta
                p #{item.publisher.name}
                span 조회수 #{item.meta.views}회 • 
                span(data-createdAt=item.createdAt).createdAt #{item.createdAt}
block scripts
    script(src="/static/js/videoCreatedAt.js")  
