mixin video(item)
    div
        h3
            a(href=`/videos/${item.id}`)=item.title 
        small=item.createdAt 
        small=`Likes: ${item.meta.likes}, `
        small=`Views: ${item.meta.views}, `
        small=`Rating: ${item.meta.rating}`
        hr 
         
