doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        
        //- Used CSS
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")

    body 
        header
            h1=pageTitle
            nav(style="margin-bottom:0")
                ul
                    li
                        a(href="/") Home
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href=`/${user.name}`) #{user.name}
                        li
                            a(href="/users/logout") Logout
                    else 
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login
                            
            form(action="/search", method="GET")
                input(name="search" type="text", placeholder="검색어를 입력하세요",required)
                input(type="submit", value="Search")
            
        main
            block body
            
    //- Included Footer
    include partials/footer  